<!--Permite definir el tipo del modelo para que sea fuertemente tipado!-->
@model  Escuela

@{
    //esta variable se puede incorporar en el html
    ViewData["Title"] = "Información Escuela";
    // si no se pone ruta se busca en shared, si no se pone extension toma por defecto .html
    Layout = "simple";

}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <h2 class="display-4">Escuela</h2>
    <h3 class="display-4">Nombre: @Model.Nombre</h3>
    <h4 class="display-4">Tipo de Escuela: @Model.TipoEscuela</h4>
    <address>
        <p>Direccion: @Model.Dirección</p>
        <p>Pais: @Model.Pais</p>
        <p>Ciudad: @Model.Ciudad</p>
    </address>
    <p><strong>Año fundaci&oacute;n: @Model.AñoDeCreación</strong> </p>
    <p><i>@ViewBag.Cosadinamica</i></p>
    <p><i>@ViewData["Cosadinamica"] </i></p>
</div>

