<!--Permite definir el tipo del modelo para que sea fuertemente tipado!-->
@model  Escuela

@{
    //esta variable se puede incorporar en el html
    ViewData["Title"] = "Información Escuela";
    // si no se pone ruta se busca en shared, si no se pone extension toma por defecto .html
    Layout = "simple";

}

<div class="text-center">
    <h1>@ViewData["Title"]</h1>
    <h1 class="display-4">Escuela</h1>
    <h1 class="display-4">Nombre: @Model.Nombre</h1>
    <p><strong>Año fundaci&oacute;n: @Model.AñoDeCreación</strong> </p>
    <p><i>@ViewBag.Cosadinamica</i></p>
    <p><i>@ViewData["Cosadinamica"] </i></p>
</div>

